export(Draw)
export(Fit)
export(Predict)
import(lattice)
import(lhs)
import(randtoolbox)
import(Rcpp)
useDynLib(GPM, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
